<form action="/recipes" method="post">
  <p><input type="text" name="name" value=""></p>
  <p><input type="text" name="ingredients" value=""></p>
  <p><input type="text" name="cook_time" value=""></p>
  <p><input type="submit" value="Save"></p>
</form>
